*{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    
}
body{
  background-image: url(/src/images/background.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabuada {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: aliceblue;
}
.escolher {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: none;
    
}
.escolher input {
  width: 200px;
  text-align: center;
  border: 5px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
  padding: 5px;
  font-size:25px;
}

.escolher button {
  background-color:blueviolet;
  color: black;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
}
.resposta {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  margin-top: 20px;
  border-radius: 15px;
  font-size:35px;
  text-align: left;
  align-items: center;
  color: aliceblue;
}

/* Estilos para dispositivos com largura de tela menor que 600px */
@media screen and (max-width: 600px) {
  .tabuada {
    margin-top: 50px;
    font-size: 30px;
  }

  .escolher {
    flex-direction: column;
    align-items: center;
  }

  .escolher input {
    width: 100%;
    margin: 10px 0;
  }

  .resposta {
    margin-top: 20px;
  }
}

/* Estilos para dispositivos com largura de tela maior que 600px */
@media screen and (min-width: 600px) {
  .tabuada {
    margin-top: 100px;
    font-size: 50px;
  }

  .escolher {
    flex-direction: row;
  }

  .escolher input {
    width: 200px;
    margin-right: 10px;
  }

  .resposta {
    margin-top: 50px;
  }
}